<h1>Why do we exist?<h1>
<h4>About 16 years ago I was invited to my first progressive Christmas dinner in South King County. &nbspMy cousin Dori invited me to her family tradition where we drove to 5 different homes for each course:  drinks, appetizers, main dish, dessert and more drinks. &nbsp I was an amatuer at the progressive dinner and ate too much during the first half of the evening. &nbsp I made a vow (to myself) to have more progressive dinners, enjoy the company of others, and challenge myself to last the entire event.&nbspMy training has just begun.  </h4>

<p>