<div class= "jumbotron">
	<h1>The Food Crawl Club</h1>
	<%= link_to "Enter a new event", "homelink", class: "btn-primary btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>

	<p>Our mission is to plan and document food events that we create.  &nbspOn Januray 25th, 2014 we completed our fist event, a mac and cheese crawl in Seattle.  &nbsp We are looking forward to creating more food events.</p>

	<img scr="1.JPG" alt="Pike Market" width="42" height="42">

</div>